<%- include header.html %>
<script src="/public/js/chat.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="screen">
    .mian {
        height: 100%;
    }
</style>
</head>
<body>

<div class="container-fluid mian">
 <%- include nav.html %>
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class='liaotian'>
                
            </div>
        </div>
        <div class="col-xs-6 col-md-8">
            <div class="videos">
                
            </div>
        </div>
    </div>
</div>
<%- include footer.html %>