<%- include header.html %>
<style type="text/css" media="screen">
	.title {
	    display: inline-block;
	    margin: 0;
	    line-height: 34px;
	}
	.dl-horizontal dt {
		width: 50px;
	}
	.dl-horizontal dd{
		margin-left: 55px;
	}
</style>
<script src="/public/js/index.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
<%- include nav.html %>
<div class="container-fluid">
	<div class="panel panel-info">
	  	<div class="panel-heading">
	  		<p class="title">房间列表</p>
	  		<button class="btn btn-info pull-right" type="button" data-toggle="modal" data-target=".createRoom">创建房间</button>
	  	</div>
	  	<div class="panel-body" style="min-height:450px">
	    	<div class="row">
	    	<% if(roomList){ %>
	    	<% for(var i in roomList){ %>
	    		<div class="col-sm-3 col-md-2 col-xs-4">
	    			<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<%= roomList[i].roomName %>
					  	</div>
					  	<div class="panel-body">
					   		<dl class="dl-horizontal">
							  <dt>创建者: </dt>
							  <dd><%= roomList[i].roomCreate %></dd>
							  <dt>类 型: </dt>
							  <dd>
							  	<% if(roomList[i].roomType == 1){ %>
							  		多人聊天
							  	<%  }else{ %>
							  		直播
							  	<% } %>
							  </dd>
							  <dt>房 号: </dt>
							  <dd><%= i %></dd>
							</dl>
					  	</div>
					</div>
	    		</div>
	    	<% } %>
	    	</div>
	    	
			<% } %>
	  	</div>
	</div>
</div>
<div class="modal createRoom fade">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title">创建房间</h4>
	      	</div>
	      	<div class="modal-body">
	        	<form class="form-horizontal">
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">房间名称</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="roomName" placeholder="房间名称">
					    </div>
					</div>
				  	<div class="form-group">
				    	<label for="inputPassword3" class="col-sm-2 control-label">房间号</label>
					    <div class="col-sm-10">
					      	<input type="number" class="form-control" name="roomNubmer" placeholder="例:1234">
					    </div>
				  	</div>
					<div class="form-group">
				    	<label for="inputPassword3" class="col-sm-2 control-label">类型</label>
					    <div class="col-sm-10">
					      	<select class="form-control" name="roomType">
					      		<option value="0">直播</option>
					      		<option value="1">多人聊天</option>
					      	</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <div class="col-xs-offset-4 col-xs-2">
					      	<button type="submit" id="subRoom" class="btn btn-primary">确 定</button>
					    </div>
					    <div class="col-xs-offset-1 col-xs-2">
					    	<button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
					    </div>
					</div>
				</form>
	      	</div>
	    </div>
  	</div>
</div>
<% if(!name){ %>
<div class="modal createName fade">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title">设置昵称</h4>
	      	</div>
	      	<div class="modal-body">
	        	<form class="form-horizontal">
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" required="true" name='name' pattern="[a-zA-Z0-9]+" placeholder="只能为字母或数字">
					    </div>
					</div>
				  	<div class="form-group">
				    	<label for="inputPassword3" class="col-sm-2 control-label">昵称</label>
					    <div class="col-sm-10">
					      	<input type="text" class="form-control" required="true" name="nick" placeholder="包子">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <div class="col-xs-offset-4 col-xs-2">
					      	<button type="submit" id="subName" class="btn btn-primary">确 定</button>
					    </div>
					    <div class="col-xs-offset-1 col-xs-2">
					    	<button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
					    </div>
					</div>
				</form>
	      	</div>
	    </div>
  	</div>
</div> 
<% } %>
<%- include footer.html %>