<header class="navbar navbar-default">
	<div class="container-fluid">
	    <div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
	      	<a class="navbar-brand" href="#">包包作品</a>
	    </div>
	    <div class="collapse navbar-collapse" id="navbar-collapse-1">
		    <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          	<input type="text" class="form-control" placeholder="搜索房间">
		        </div>
		        <button type="submit" class="btn btn-default">搜 索</button>
		    </form>
			<ul class="nav navbar-nav navbar-right ">
		        <li>
		        	<% if(!name){ %>
		        	<a href="javascript:;" data-toggle="modal" data-target=".createName">
		        		<span class="glyphicon glyphicon-user"> </span> <span class="username">昵 称</span>
		        	</a>
		        	<% }else{ %>
	        		<a href="javascript:;">
	        		<span class="glyphicon glyphicon-user"> </span> <%= name %>
		        	</a>
		        	<% } %>
		        </li>
		    </ul>
	    </div>
		</div>
</header>